# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
./.aider.ident.cache.v1
./.aider.tags.cache.v1
./.aider.chat.history.md
./.aider.input.history
./.aider.tags.cache.v1/cache.db
.aider.ident.cache.v1/cache.db
.aider.tags.cache.v1/cache.db
./contracts/Auction.sol
./contracts/ZillennialMemeopolis.sol
./contracts/ZillennialMemeopolis2.sol
./contracts/ZillennialMemeopolis3.sol
./contracts/ZillennialMemeopolis4.sol
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
